@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
@font-face {
  font-family: Akrobat;
  src: url("../fonts/Akrobat-Regular.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: Akrobat;
  src: url("../fonts/Akrobat-Light.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
body {
  margin: 0px;
}

.nav {
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em;
}

.nav-logo {
  font-family: Inter;
  font-weight: 700;
  color: white;
  display: inline-block;
  vertical-align: middle;
}
.nav-logo img {
  display: inline-block;
  vertical-align: middle;
  height: 2.5em;
  width: auto;
  margin: auto;
}
.nav-logo span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.nav-menu {
  list-style-type: none;
  display: table-row;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  float: right;
  font-family: Montserrat, sans-serif;
  font-size: 0.65em;
  color: #FFFFFF;
  font-weight: 400;
  transition: all 0.5s ease-out;
  opacity: 1;
}

.nav-link {
  display: table-cell;
  border-right: 1px solid #A8A8A8;
  padding: 0 1.25em;
  vertical-align: middle;
  position: relative;
  transition: all 0.5s ease-out;
}
.nav-link:last-child {
  border-right: 0px;
}

.nav-link-thin {
  position: absolute;
  opacity: 1;
  transition: all 0.5s ease-out;
  top: 0;
  padding: 0 1.25em;
  left: 0;
  z-index: 1;
  font-weight: 400;
  color: white;
}

.nav-link-bold {
  position: absolute;
  opacity: 1;
  transition: all 0.5s ease-out;
  top: 0;
  padding: 0 1.25em;
  left: 0;
  z-index: 2;
  font-weight: 500;
  color: white;
}

.hidden-text {
  color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-out;
}

.hidden {
  opacity: 0;
  transition: all 0.5s ease-out;
}

.index-container {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 99.99%, rgba(255, 255, 255, 0) 100%), url("../images/index-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.registration-container {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 99.99%, rgba(255, 255, 255, 0) 100%), url("../images/registration-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.banner-container {
  position: relative;
  box-sizing: border-box;
  padding-top: 300px;
  color: #FFFFFF;
}
.banner-container h2 {
  margin: 0 auto;
  text-align: center;
  font-family: Akrobat, sans-serif;
  font-weight: 200;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  font-size: 1.5em;
}
.banner-container h1 {
  margin: 0 auto;
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 700;
  letter-spacing: 0.75em;
  text-indent: 0.75em;
  padding: 0.25em 0 0.25em 0;
  font-size: 3.5em;
}
.banner-container div {
  margin: 0 auto;
  text-align: center;
}
.banner-container div button {
  border: 1px solid rgba(113, 113, 113, 0.6);
  border-radius: 20px;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  background: none;
  padding: 0.75em 0.5em;
  color: #FFFFFF;
  font-size: 1em;
}

a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
